.square {
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    border: 1px solid transparent;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    padding: 0;
    text-align: center;
    width: 64px;
    font-family: inherit;
    border-radius: 8px;
  }
  
button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  